.App {
    text-align: center;
	display: flex;
}

.sidebar {
	min-width: 300px;
	border-right: 1px solid #000;
	background-color: rgb(241, 241, 241);
}

.sidebar-post {
	border-bottom: 1px solid #000;
	list-style-type: none;
	padding: 50px auto;
}

.side-title {
	cursor: pointer;
	width: fit-content;
	margin: 20px auto;
	font-size: 1.2rem;
	font-weight: 700;
}

.side-title:hover {
	color: rgb(109, 4, 214);
}

ul {
	margin: 0;
	padding-left: 0;
}

.post-wrapper {
	margin: auto;
	max-width: 80%;
}

main {
	background-color: rgb(188, 255, 235);
}

.main-title {
	font-size: 2rem;
	font-weight: 700;
}

.main-body {
	font-size: 1.5rem;
}