.App {
    text-align: center;
	display: flex;
}

.sidebar {
	min-width: 300px;
	border-right: 1px solid #000;
}

.sidebar-post {
	border-bottom: 1px solid #000;
	list-style-type: none;
	padding: 50px auto;
}

.sidebar-post h3 {
	cursor: pointer;
}

.sidebar-post h3:hover {
	color: #00f;
}

ul {
	margin: 0;
	padding-left: 0;
}

.post-wrapper {
	margin: auto;
	max-width: 80%;
}
